{:paths ["src" "resources"]
 :deps {org.clojure/clojure        {:mvn/version "1.10.3"}
        lambdaisland/data-printers {:mvn/version "0.0.22"}

        ;; App setup & config
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl      {:mvn/version "0.3.2"}
        aero/aero           {:mvn/version "1.1.6"}

        ;; Logging
        com.lambdaisland/glogi         {:mvn/version "1.0.128"}
        io.pedestal/pedestal.log       {:mvn/version "0.5.8"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

        ;; HTTP
        ring/ring {:mvn/version "1.8.2"}
        ring/ring-defaults          {:mvn/version "0.3.2"}
        metosin/reitit-ring         {:mvn/version "0.5.12"}
        metosin/reitit-http         {:mvn/version "0.5.12"}
        metosin/reitit-interceptors {:mvn/version "0.5.12"}
        ring/ring-jetty-adapter     {:mvn/version "1.9.0"}

        ;; HTTP / CSS (Server-side)
        lambdaisland/webstuff {:git/url "https://github.com/lambdaisland/webstuff"
                               :sha     "5d5669e7f7829c65fdd00b19ef826565ce41b7ea"}
        lambdaisland/ornament {:git/url "https://github.com/lambdaisland/ornament"
                               :sha     "11c9954ec85e5efc886c4c9b7707db3246f9cfee"}

        ;; Data
        markdown-clj/markdown-clj {:mvn/version "1.10.5"}
        org.clojure/data.json {:mvn/version "2.4.0"}

        ;; Static site generation
        lambdaisland/reitit-jaatya {:git/url "https://github.com/lambdaisland/reitit-jaatya"
                                    :sha     "7564dcc81285327e1119a1e81d24e95387b4c683"}}
 :aliases
 {:build
  {:exec-fn gaiwan.core/build}}}
