@tailwind base;

:root {
    box-sizing: border-box;
    font-family: acumin-pro, sans-serif;
    color: #222;
}

html {
    font-size: 1rem;
    @media screen and (min-width: 768px) {
        font-size: 1.125rem;
        // max-width: 1140px;
    }
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    display:flex;
    flex-direction: column;
    padding: 20px;
    @media screen and (min-width: 768px) {
        max-width: 1140px;
    }
}

a {
    color: hsl(198.6, 100%, 45.5%);
    text-decoration: none;
    font-weight: 400;
    &:hover {
        -webkit-text-fill-color: transparent;
        text-shadow: none;
        background: linear-gradient(to right, #ec008c, #fc6767);
        -webkit-background-clip: text;
        box-decoration-break: clone;
    }
    &::selection {
        background: hsl(291.2, 63.7%, 42.2%);
        color: white;
    }
}

.logo {
    @media screen and (min-width: 768px) {
        font-size: 180pt;
        height: 300px;

    }
    @media screen and (max-width: 768px) {
        font-size: 50pt;

    }
    line-height: 1.2;
    font-family: trajan-sans-pro, serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.description {

    p {
        line-height: 1.4;
    }
}

.quote {
    font-style: italic;
}

.client-cards {
    display: flex;
    flex-wrap: wrap;
}

.client-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    flex-grow: 1;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
    padding: 20px;
}

.client-logo {
    width: 80%;
}


















.hero-grid {
    margin: 10% 5%;

    .text-box {
        hyphens: manual;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        max-width: max-content;
        margin: 0 auto;
        .quote {
            & ::first-letter {
                margin-left: -0.35rem;
            }
            font-size: 1.125rem;
            font-style: italic;
            font-weight: 300;
            line-height: 1.3;
            * {
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
            }
            footer {
                text-align: right;
                padding-right: 1rem;
            }
        }

        .client-work-heading {
            place-self: end;
            font-size: 2.5rem;
            line-height: 1;
            font-weight: 600;
        }
    }
}

#client-work {
    article {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
        padding: 10% 5%;
        header {
            grid-column: 2;
            flex-grow: 2;
            max-width: 1024px;
            min-width: 20rem;
            padding: 1rem;
            @media screen and (min-width: 1024px) {
                min-width: 28rem;
            }
        }
        div {
            font-size: 1.225rem;
            font-weight: 300;
            line-height: 1.3;
            max-width: 32rem;
            p:first-child {
                margin-top: 1.8rem;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    .nextjournal {
        background-color: #e6f6fa;
    }
    .eleven {
        background-color: white;
    }
    .mein-grundeinkommen {
        background: linear-gradient(90deg, #0888b2 0, #26b796);
        color: white;
        div {
            font-weight: 400;
            line-height: 1.2;
            a {
                color: lightgoldenrodyellow;
            }
        }
    }
}

#portfolio {
    margin: 10% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1rem;
    h2 {
        grid-column: span 2;
        font-size: 8vw;
        line-height: 1;
    }
    article {
        grid-column: span 2;
        > h3 { line-height: 1.2; }
        > p {
            max-width: 28rem;
            line-height: 1.4;
        }
    }
}

body > footer {
    address {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background: deeppink;
        font-weight: 600;
        font-style: normal;
        color: black;
        padding: 0% 5%;
        margin: 0;
        line-height: 1.2;
        font-size: small;
        p {
            margin: 0.2rem;
        }
        .footer-email {
            color: white;
            font-weight: bold;
            &:hover {
                -webkit-text-fill-color: cyan;
            }
        }
    }
}
